{erl_opts, [
            debug_info,
            warnings_as_errors,
            nowarn_export_all
           ]}.

{deps, [
        {cowboy, {git, "git://github.com/ninenines/cowboy", {branch, "master"}}}
       ]}.

{xref_checks, [
               fail_on_warning,
               undefined_function_calls
              ]}.
